*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
}  
.swiper-wrapper{
	width: 100%;
    height: 100%;
}
.one{
	background: url(../img/1.png);
	background-size: 100% 100%;
	position: relative;
}
.one_img{
	width:8rem;
    position:absolute;
    left:10%;
    top:10%;
}
.one_img img{
	width: 100%;
	display: block;
	margin-bottom: 1rem;
}
.p{
	color: #4E101E;
	font-size: 0.65rem;
	text-align: center;
	line-height: 1rem;
}
.one_p{
	position: absolute;
	left:10%;
    top:30%;
	
}
.two{
	background: url(../img/3.png);
	background-size: 100% 100%;
}
.two_p{
    font-size: 0.5rem;
    text-align: center;
    line-height: 1rem;
}
.add{
	margin-top: 3rem;
}
.three{
	background: url(../img/6.png);
	background-size: 100% 100%;
}
.three_img{
	display: inline-block;
	width: 1rem;
	margin-left: 0.3rem;
}
.three_img img{
	width: 100%;
	display: inline-block;
}
.three_imgL{
	width:4rem;
	position: absolute;
	right:1rem;
}
.three_imgL img{
	width: 100%;
	display:block;
}
.four{
	background: url(../img/8.png);
	background-size: 100% 100%;
}
.four_img1{
	width: 6.6rem;
	position: absolute;
	left: 16%;
	top: 10%;
}
.four_img1 img{
	width: 100%;
	display: block;
}
.four_img2{
	width: 1rem;
	position: absolute;
	left:20%;
	top: 30%;
}
.four_img2 img{
	width: 100%;
	display: block;
}
.four_img3{
	width: 1rem;
	position: absolute;
	right:10%;
	top: 30%;
}
.four_img3 img{
	width: 100%;
	display: block;
}
.four_img4{
	width: 1rem;
	position: absolute;
	right:10%;
	top: 50%;
}
.four_img4 img{
	width: 100%;
	display: block;
}
.four_img5{
	width: 6.6rem;
	position: absolute;
	left: 1.6rem;
	top: 70%;
}
.four_img5 img{
	width: 100%;
	display: block;
}
.four_img6{
	width: 6.6rem;
	position: absolute;
	left: 1.6rem;
	top: 65%;
}
.four_img6 img{
	width: 100%;
	display: block;
}
.audio{
    width:1rem;
    position:fixed;
    top:4%;
    right:4%;
    z-index:10;
    -webkit-animation: music 5s linear infinite;
}
@-webkit-keyframes music {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-moz-keyframes music {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-ms-keyframes music {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-o-keyframes music {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@keyframes music {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
.audio img{
    width:100%;
}